@font-face {
  font-family: "MontserratAlternates-Regular";
  src: local("MontserratAlternates-Regular"),
       local("Montserrat Alternates Regular"),
       local("MontserratAlternatesRegular"),
       local("montserratalternates-regular"),
       url(../police/MontserratAlternates-Regular.otf) format("opentype");
       font-weight: normal;
}

@font-face {
  font-family: "Montserrat-Black";
  src: local("Montserrat-Black"),
       local("Montserrat Black"),
       local("MontserratBlack"),
       local("montserrat-black"),
       url(../police/Montserrat-Black.otf) format("opentype");
       font-weight: normal;
}

@font-face {
  font-family: "MontserratAlternates-Bold";
  src: local("MontserratAlternates-Bold"),
       local("Montserrat Alternates Bold"),
       local("MontserratAlternatesBold"),
       local("montserratalternates-bold"),
       url(../police/MontserratAlternates-Bold.otf) format("opentype");
       font-weight: bold;
}

body {
  font-family: MontserratAlternates-Regular, 'Times New Roman', Times, serif;
}

.ul_menu {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  text-align: center;
  background-color: #0d4381;
  margin-left: -2%;
  margin-top: 0%;
  padding-top: 0.3%;
  padding-bottom: 0.5%;
}

.li_menu_gauche {
  display: inline-block;
}

.li_menu {
  display: inline-block;
  margin-left: 5%;
}

.menu {
  text-decoration: none;
  line-height: 1.4em;
  font-size: 1.6em;
  color: #416997;
  font-weight: bold;
}

.menu:hover {
  text-decoration: none;
  color: #ffffff;
}

.titre_page {
  text-align: center;
  margin-top: 4.5%;
}

.long {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.date {
  color: #0d4381;
  font-weight: 600;
}

.lien_article {
  text-decoration: none;
  color: black;
}

.lien_suite {
  color: black;
  font-weight: bold;
}

.suite {
  margin-top: -10px;
}

.important {
  font-family: MontserratAlternates-Bold, 'Times New Roman', Times, Calibri;
}

.contenu {
  text-align: justify;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2%;
}

.mise_en_page {
  line-height: 2.5em;
  word-spacing: 0.3em;
}

.paragraphe_accueil {
  line-height: 2em;
}

.sous_titre_page {
  margin-top: 5%;
  margin-bottom: 5%;
}

#image_info {
  display: grid;
  grid-template-columns: 35% 5% 60%;
  margin-bottom: 5%;
}

.taille_profil {
  width: 100%;
  grid-column: 1;
}

.image_article {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.image_30 {
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.image_40 {
  display: block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.image_50 {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.image_60 {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}



.image_80 {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.image_90 {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.sous_titre_page_accueil {
  margin-top: 5%;
  margin-bottom: 5%;
}

.paragraphe_image {
  font-size: 0.8em;
  margin-top: 0.5%;
  margin-bottom: 0%;
  line-height: 1.3em;
  text-align: center;
}

#information {
  grid-column: 3;
  width: 100%;
}

.mise_en_page_info {
  line-height: 2em;
}

.pas_decoration {
  list-style-type: none;
  word-spacing: 0.3em;
  margin-top: 5px;
}

.personne {
  font-family: MontserratAlternates-Bold, 'Times New Roman', Times, Calibri, serif;
}

.lien_etude {
  word-spacing: 0em;
  color: #3e0d81;
}

.lien_entreprise {
  font-size: 1.5em;
  color: #0d4381;
  font-weight: bold;
}

.page_active {
  color: #ffffff;
}

.helpdesk {
  color: rgb(152, 37, 180);
}

.proximite {
  color: rgb(255, 145, 2);
}

.gestion_parc {
  color: rgb(15, 145, 15);
}

.chef {
  color: rgb(45, 115, 219);
}

.separation {
  margin-top: 5%;
}

.petite_separation {
  margin-top: 1%;
}

.ligne {
  line-height: 1.8em;
}

#contenu_contact {
  display: grid;
  grid-template-columns: 35% 35% 35%;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#mail {
  grid-column: 1;
  display: inline-block;
  text-align: center;
  border: 0.2em solid #0d4381;
  border-radius: 2%;
  padding: 1%;
  min-width: 200px;
  min-height: 50px;
}

#telephone {
  grid-column: 2;
  display: inline-block;
  text-align: center;
  margin-left: 10%;
  border: 0.2em solid #0d4381;
  border-radius: 2%;
  padding: 1%;
  min-width: 135px;
  min-height: 150px;
}

#profil {
  grid-column: 3;
  display: inline-block;
  text-align: center;
  border: 0.2em solid #0d4381;
  margin-left: 10%;
  border-radius: 2%;
  padding: 1%;
  min-width: 135px;
  min-height: 150px;
}

.lien_profil {
  font-weight: bold;
  text-decoration: none;
  color: #0d4381;
}

.lien_profil:hover {
  text-decoration: none;
  color: #416997;
}

.lien_profil:active {
  text-decoration: none;
  color: #c40000;
}

.bleu {
  color: rgb(23, 95, 202);
}

.violet {
  color: #8105bb;
}

@media (max-width: 1500px) {

  .titre_page {
    margin-top: 67.5px;
  }

}

@media (max-width: 1000px) {

  .contenu {
    width: 65%;
  }

  .long {
    width: 100%;
  }

  .li_menu_gauche {
    margin-left: -7%;
  }

  #contenu_contact {
    display: block;
  }

  #mail, #telephone, #profil {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }

  #mail, #telephone, #profil {
    width: 60%;
    border-radius: 2%;
  }

  .li_menu {
    display: inline-block;
    margin-left: 1.5%;
  }

}

@media (max-width: 800px) {

  .contenu {
    width: 70%;
  }

  .li_menu_gauche {
    margin-left: -10%;
  }

  .mise_en_page_info {
    line-height: 1.5em;
  }

  .paragraphe_image {
    font-size: 0.6em;
  }

  .long {
    font-size: 1.1em;
  }

  .paragraphe_accueil, .date, .lien_suite, .lien_entreprise {
    font-size: 0.8em;
  }

  .sous_titre_page_accueil {
    font-size: 1.15em;
  }

}
@media (max-width: 615px) {

  .ul_menu {
    margin-left: -2%;
  }

  .menu {
    font-size: 1.4em;
  }

  .li_menu_gauche {
    margin-left: -18%;
  }

  .li_menu {
    margin-left: 1%;
  }

  .mise_en_page_info {
    line-height: 1em;
  }

}